<%
# Wiki Extensions plugin for Redmine
# Copyright (C) 2009-2012  Haruyuki Iida
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%>
<%
i = menu.menu_no - 1
-%>
<div>
  <%= check_box_tag "menus[#{i}][enabled]", true, menu.enabled == true, :onclick => "click_wiki_menu_tab(#{i})" %>
  <b><%=h l(:label_wikiextensions_tab) %>#<%= menu.menu_no%> </b>
  <%= hidden_field_tag "menus[#{i}][menu_no]", menu.menu_no %>

  <p>
    <label><%=h l(:field_title)%></label>
    <%= text_field_tag "menus[#{i}][title]", menu.title, :size => 70, :required => true, :disabled => !menu.enabled %>
  </p>
  <p>
    <label><%=h l(:label_wiki_page)%></label>
    <%= text_field_tag "menus[#{i}][page_name]", menu.page_name, :size => 70, :required => true, :disabled => !menu.enabled %>
  </p>
</div>
