<%
# Wiki Extensions plugin for Redmine
# Copyright (C) 2009-2012  Haruyuki Iida
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
-%>
<script type="text/javascript">
function click_wiki_menu_tab(num) {
  var checked = $('#menus_' + num + '_enabled').is(':checked');
  var menu_title = $('#menus_' + num + '_title');
  var menu_page_name = $('#menus_' + num + '_page_name');
  if (checked){
    menu_title.removeAttr("disabled");;
    menu_page_name.removeAttr("disabled");;
  }else{
    menu_title.attr("disabled", "disabled");;
    menu_page_name.attr("disabled", "disabled");;
  }
}
</script>

<div id="wiki_extensions_settings">
<%
    @wiki_extensions_setting = WikiExtensionsSetting.find_or_create(@project.id)
%>

<%= labelled_form_for :setting, @wiki_extensions_setting,
                             :url => {:controller => 'wiki_extensions_settings',
                             :action => 'update', :id => @project, :tab => 'wiki_extensions',
                             :partial => 'wiki_extensions_settings/update',
                             :setting_id => @wiki_extensions_setting.id} do |f| %>
    <%= error_messages_for 'wiki_extensions_setting' %>
    <div class="box">
      <p>

      <%= f.check_box 'auto_preview_enabled' %>
      </p>

      <p>
        <%= f.check_box 'tag_disabled' %>
      </p>
      
      <hr/>
      <b><%=h l(:wiki_extensions_add_tab)%></b>
      <%= render :partial => "wiki_extensions_settings/menu", :collection => @wiki_extensions_setting.menus, :as => :menu %>
      
    </div>
    <%= submit_tag l(:button_update) %>
<% end %>
</div>